dashboard-card {
  height: 100%;
  width: 100%;

  md-card {
    height: 100%;
    margin: 0;

    md-card-header {
      padding: 8px 0 0;
    }

    md-card-content {
      padding-top: 0;
    }

    md-list-item > div {
      padding: 0 !important;
    }
  }
}
