intervention-card {
  display: block;

  md-card-title {
    padding: 16px 24px;

    button {
      margin-right: 0 !important;
      padding-right: 0 !important;
      padding-left: 18px !important;
    }

    md-input-container {
      padding: 0;
      margin: 0;
    }
  }

  md-chips {
    .md-chips {
      padding: 0 16px;
      box-shadow: none;
      background-color: #aed581;

      md-chip {
        margin: 7px 8px 0 0;
        height: 22px;
        line-height: 22px;
        font-size: 12px;

        .md-chip-content {
          padding-right: 0 !important;
        }

        .md-chip-remove {
          height: 22px;
          width: 22px;

          md-icon {
            height: 16px;
            width: 16px;
          }
        }
      }

      .md-chip-input-container:not(:first-child) {
        margin-top: 3px;
      }
    }
  }

  md-card-content {
    max-height: 305px;

    .value {
      padding-left: 3px;
    }

    .benevole-list {
      min-height: 100px;
      position: relative;

      .dndPlaceholder {
        display: block;
        width: 69px;
        height: 69px;
        background-color: #ddd;
        border-radius: 50%;
        margin: 8px;
      }

      .dndDraggingSource {
        display: none;
      }
    }
  }

  .md-toolbar-tools {
    position: relative;

    .toolbar-fab-buttons {
      position: absolute;
      top: 24px;
      right: 12px;

      button {
        margin: 0 4px;
      }
    }
  }
}
