@import "benevoles";
@import "etablissements";
@import "plage-interventions";
@import "interventions";

@import "md-fab-speed-dial";
@import "dashboard";
@import "toolbar";
@import "search-bar";
@import "mini-calendar";
@import "custom-tabs";
@import "right-panel";
@import "conversation";
@import "hidden-input";

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.shake-it {
  animation: shake 1s;
}

.card-header {
  height: 150px;
  min-height: 150px;

  .card-header-tools {
    padding: 8px;
  }
}

avatar {
  width: 70px;
  height: 70px;
}

[section-list] {
  padding: 0;
}

md-list {
  avatar {
    margin-right: 8px;
  }
}

md-dialog.md-dialog-fullscreen {
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
}

.md-select-value *:first-child {
  margin-bottom: 4px;
  line-height: 20px;
}

//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button,
//input::-webkit-clear-button {
//  -webkit-appearance: none;
// margin: 0;
//}

.autocomplete-search-template {
  avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.croparea {
  background: #e4e4e4;
  overflow: hidden;
  width: 900px;
  height: 680px;
}

md-input-container.no-errors-spacer {
  .md-errors-spacer {
    display: none;
  }
}

.no-margin md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
  bottom: 22px;
}

.no-padding md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 2px;
}

.input-no-bottom-margin md-input-container {
  margin-bottom: 0;
}
