<md-content flex style="padding:8px;" class="layout-bg">
	<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
	      				md-row-height-gt-md="1:1" md-row-height="2:2"
	      				md-gutter="12px" md-gutter-gt-sm="8px">
	  <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
	   	<dashboard-card>
	  		<dashboard-card-header>
	  			<md-button aria-label="Avant"
	       						 class="md-icon-button">
	          <md-icon md-svg-icon="navigation:chevron_left"></md-icon>
	        </md-button>
	    		<h3 class="text-center" flex>Aujourd'hui</h3>
	    		<md-button aria-label="Arpès"
	       						 class="md-icon-button" >
	          <md-icon md-svg-icon="navigation:chevron_right"></md-icon>
	        </md-button>
	    	</dashboard-card-header>
	    	<dashboard-card-content>
		  		<md-list>
					  <md-list-item>
					  	<div flex="20" layout="row">
					  		<div class="md-display-1">15</div>
					  		<div class="md-subhead">30</div>
					  	</div>
					  	<div flex layout="column">
					  		<div class="md-subhead">École secondaire de Neufchâtel</div>
					  		<div class="md-caption">intervention</div>
					  	</div>
					    <md-icon md-svg-icon="navigation:check"></md-icon>
					  </md-list-item>
					  <md-list-item>
					  	<div flex="20" layout="row">
					  		<div class="md-display-1">16</div>
					  		<div class="md-subhead">45</div>
					  	</div>
					  	<div flex layout="column">
					  		<div class="md-subhead">École secondaire de Neufchâtel</div>
					  		<div class="md-caption">intervention</div>
					  	</div>
					    <md-icon md-svg-icon="navigation:check"></md-icon>
					  </md-list-item>
					</md-list>
				</dashboard-card-content>
	    </dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile>
	    <dashboard-card>
	    	<dashboard-card-content layout-align="center center">
	    		<div layout="column" class="text-center">
	    			<div class="md-display-1">3</div>
	    			<div class="md-title">nouveaux</div>
	    			<div class="md-title">messages</div>
	    		</div>
	    	</dashboard-card-content>
	    </dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile>
	    <dashboard-card expand-id="benevoles">
	    	<dashboard-card-content flex>
	    		<md-content flex layout="column" layout-align="center center" class="text-center">
	    			<div class="md-display-1">340</div>
	    			<div class="md-title">bénévoles</div>
	    		</md-content>
	    	</dashboard-card-content>
	    </dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile md-rowspan="4">
	  </md-grid-tile>
	  <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
	    <dashboard-card>
	  		<dashboard-card-header>
	    		<h3 class="text-center" flex>Urgences</h3>
	    	</dashboard-card-header>
	    	<dashboard-card-content>
		  		<md-list>
					  <md-list-item>
					  	<div flex="20" layout="row">
					  		<div class="md-display-1">15</div>
					  		<div class="md-subhead">30</div>
					  	</div>
					  	<div flex layout="column">
					  		<div class="md-subhead">École secondaire de Neufchâtel</div>
					  		<div class="md-caption">intervention</div>
					  	</div>
					    <md-icon md-svg-icon="alert:warning"></md-icon>
					  </md-list-item>
					  <md-list-item>
					  	<div flex="20" layout="row">
					  		<div class="md-display-1">16</div>
					  		<div class="md-subhead">45</div>
					  	</div>
					  	<div flex layout="column">
					  		<div class="md-subhead">École secondaire de Neufchâtel</div>
					  		<div class="md-caption">intervention</div>
					  	</div>
					    <md-icon md-svg-icon="alert:warning"></md-icon>
					  </md-list-item>
					</md-list>
				</dashboard-card-content>
	    </dashboard-card>
	  </md-grid-tile>
	</md-grid-list>
</md-content>