<md-content flex style="padding:8px;" class="layout-bg">
	<md-grid-list md-cols-xs="2" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6"
	      		    md-row-height="1:1"
	      		    md-gutter="8px">
	  <!--<md-grid-tile md-rowspan="2"
	  							    md-colspan-xs="2" md-colspan-sm="4" md-colspan="2">
	  	<mini-calendar><mini-calendar>
	  </md-grid-tile>
	  <md-grid-tile md-rowspan-xs="2" md-rowspan-sm="2" md-rowspan="2"
	  							md-colspan-xs="2" md-colspan-sm="4" md-colspan="2" md-colspan-sm="2">
	    <urgent-interventions-card></urgent-interventions-card>
	  </md-grid-tile>-->
		<md-grid-tile md-rowspan="2"
	  							md-colspan-xs="2" md-colspan-sm="3" md-colspan="2">
	    <interventions-dashboard-card></interventions-dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile>
	    <messages-dashboard-card></messages-dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile>
	    <benevoles-dashboard-card></benevoles-dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile md-colspan-xs="2" md-colspan-sm="2">
	    <etablissements-dashboard-card></etablissements-dashboard-card>
	  </md-grid-tile>
	  <md-grid-tile>
	    <observateurs-dashboard-card></observateurs-dashboard-card>
	  </md-grid-tile>
	</md-grid-list>
</md-content>
