<div layout="column" flex>
	
	<div layout="row" flex>

		<md-card layout="column" flex="30" flex-gt-lg="20" class="card-list">
			
			<md-content layout="column" flex>
		
				<md-list flex layout="column">
					<md-list-item class="md-2-line" ui-sref-active="active"
												ng-repeat="item in benevolesSectionCtrl.benevoles"
												ng-click="undefined">
						<avatar user="item"></avatar>
			      <div class="md-list-item-text" ui-sref="benevoles.fiche({ benevoleId: item._id })">
			        <h3>{{ item.toString() }}</h3>
			        <p>{{ item.getRoleDescription() }} </p>
			      </div>
			    <md-divider ng-if="!$last"></md-divider>
			    </md-list-item>
		    </md-list>

			</md-content>

		</md-card>

		<div flex="70" flex-gt-lg="80" layout="column">

			<div layout="row" flex layout-align="center center" ng-hide="benevole">
				<md-progress-circular md-diameter="280"  md-mode="indeterminate"></md-progress-circular>
			</div>
			
			<benevole-card ng-if="benevole" benevole="benevole"></benevole-card>

		</div>
		
	</div>
</div>