<md-card layout="column" flex>

	<div layout="column" class="card-header">
		<div layout="row" class="card-header-tools">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.sendMessage($event, benevole)">
				<md-icon md-svg-icon="communication:message"></md-icon>
				<md-tooltip>Message</md-tooltip>
			</md-button>
			<!--<md-button class="md-icon-button" ng-click="benevoleCardCtrl.saveBenevole(true)">
				<md-icon md-svg-icon="content:save"></md-icon>
				<md-tooltip>Sauvegarde</md-tooltip>
			</md-button>-->
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.deleteBenevole($event, benevole)" ng-disabled="true">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>
		</div>
		<span flex></span>
		<div layout="row" layout-align="start center" class="fiche-title-over-custom-tabs md-padding">
			<avatar user="benevole" click-to-update></avatar>
			<span class="md-title benevole-name">{{ benevole.toString() }}</span>
		</div>
	</div>

	<div layout="column" flex>

		<md-tabs flex class="md-accent">
      <md-tab label="activités" layout-fill>
        <md-tab-body>
        	<div layout-padding layout="column" flex ng-include="'modules/benevoles/views/benevole.infos.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab label="profil" layout-fill>
        <md-tab-body>
        	<div layout-padding layout="column" flex>
        		<benevole-form benevole="benevole" auto-save="true"></benevole-form>
		  		</md-div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</md-card>
