<md-card ng-click="benevolesDashboardCardCtrl.handleClick($event)">
	<md-card-content flex layout="column" layout-align="center center" class="text-center">
		<md-icon flex style="height:50; width:50px" md-svg-icon="{{ BENEVOLES.ICONS.BENEVOLE }}"></md-icon>
	  <div flex>
	  	<div class="md-display-1" ng-if="benevolesDashboardCardCtrl.nbBenevoles">
	  		{{ benevolesDashboardCardCtrl.nbBenevoles }}
	  	</div>
		  <ng-pluralize class="md-title"
		  							count="benevolesDashboardCardCtrl.nbBenevoles"
	                 	when="{'0': 'Ajouter un bénévole',
	                     'one': 'bénévole',
	                     'other': 'bénévoles'}">
			</ng-pluralize>
		</div>
	</md-card-content>
</md-card>
