<md-card layout="column" flex>
		
	<div layout="column" layout-padding class="card-header">
		<div layout="row">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.sendMessage($event, benevole)">
				<md-icon md-svg-icon="communication:message"></md-icon>
				<md-tooltip>Message</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.deleteBenevole($event, benevole)">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>
		</div>
		<span flex></span>
		<div layout="row" class="fiche-title-over-custom-tabs">
			<div layout="row" layout-align="center start">
				<avatar></avatar>
			</div>
			<div layout="column" layout-align="center start">
				<span class="md-title">{{ benevole.toString() }}</span>
	      <span class="md-subhead">{{ benevole.getRoleDescription() }}</span>
			</div>
		</div>
	</div>

	<div layout="column" flex>

		<md-tabs flex class="md-accent" md-selected="1">
      <md-tab label="activités" layout-fill>
        <md-tab-body>
        	<md-content layout-padding layout="column" flex ng-include="'modules/benevoles/views/benevole.infos.html'"></md-content>
        </md-tab-body>
      </md-tab>
      <md-tab label="profil" layout-fill>
        <md-tab-body>
        	<md-content layout-padding layout="column" flex>
        		<benevole-form benevole="benevole" auto-save="true"></benevole-form>
		  		</md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</md-card>