<md-card ng-click="messagesDashboardCardCtrl.handleClick()">
	<md-card-content flex layout="column" layout-align="center center" class="text-center">
		<md-icon flex style="height:50; width:50px" md-svg-icon="{{ MESSAGES.ICONS.MESSAGE }}"></md-icon>
	  <div flex>
		  <div class="md-display-1">{{ messagesDashboardCardCtrl.nbNouveauxMessages }}</div>
		  <ng-pluralize class="md-title"
		  							count="messagesDashboardCardCtrl.nbNouveauxMessages"
	                 	when="{'0': 'Aucun nouveau message.',
	                     'one': '1 nouveau message',
	                     'other': 'nouveaux messages'}">
			</ng-pluralize>
		</div>
	</md-card-content>
</md-card>