<md-card ng-click="etablissementsDashboardCardCtrl.handleClick()">
	<md-card-content flex layout="column" layout-align="center center" class="text-center">
		<md-icon flex style="height:50; width:50px" md-svg-icon="{{ ETABLISSEMENTS.ICONS.ETABLISSEMENT }}"></md-icon>
	  <div flex>
	  	<div class="md-display-1">{{ etablissementsDashboardCardCtrl.nbEtablissements }}</div>
		  <ng-pluralize class="md-title"
		  							count="etablissementsDashboardCardCtrl.nbEtablissements"
	                 	when="{'0': 'Aucun établissement.',
	                     'one': '1 établissement',
	                     'other': 'établissements'}">
			</ng-pluralize>
		</div>
	</md-card-content>
</md-card>