<md-dialog aria-label="Nouvel établissement" style="width:800px;">
  <form novalidate name="etablissementForm" class="input-no-bottom-margin"
        ng-submit="nouvelEtablissementCtrl.create(etablissementForm, etablissement)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="nouvelEtablissementCtrl.dialog.hide()">
          <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
      <ng-include src="'modules/etablissements/views/etablissement.html'"></ng-include>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="nouvelEtablissementCtrl.dialog.hide()">
        Annuler
      </md-button>
      <md-button type="submit" style="margin-right:20px;">
        Créer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>