<md-card layout="column" flex>

	<div class="card-header">
		<div class="card-header-tools" flex layout="row" layout-align="end center">
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.deleteBenevole($event, benevole)" ng-disabled="true">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>
		</div>
		<etablissement-map height="200px"
											 width="100%"
											 etablissement="etablissement">
		</etablissement-map>
	</div>

	<div layout="column" flex>

		<md-tabs flex class="md-accent">
      <md-tab label="activités" layout-fill>
        <div layout-padding layout="column" flex ng-include="'modules/etablissements/views/etablissement.infos.html'"></div>
      </md-tab>
      <md-tab label="Informations">
        <div layout-padding layout="column" flex>
        	<etablissement-form etablissement="etablissement" auto-save="true"></etablissement-form>
		  	</div>
      </md-tab>
      <md-tab label="Contacts">
        <div layout="row" layout-align="end center">
        	<md-tab-action tooltip="Ajouter un contact"
        							   icon="content:add"
        								 ng-click="etablissementCardCtrl.addContact($event, etablissement)">
        	</md-tab-action>
	      </div>
      	<div layout-padding layout="column" flex>
		      <md-list flex>
		        <md-list-item class="md-2-line" ng-repeat="contact in etablissementCardCtrl.contacts" ng-click="etablissementCardCtrl.detailsContact($event, contact)">
		          <avatar user="contact"></avatar>
		          <div class="md-list-item-text" layout="column">
		            <h3>{{ contact.toString() }}</h3>
		            <h4>{{ contact.poste.description }}</h4>
 								<md-icon md-svg-icon="communication:email" class="md-secondary"
 												 aria-label="Envois d'un message"
 												 ng-click="etablissementCardCtrl.sendMessageToContact($event, contact)">
 								</md-icon>
		          </div>
		        </md-list-item>
	        </md-list>
	  		</div>
      </md-tab>
      <md-tab label="Notes">
      	<div layout-padding layout="column" flex style="margin-top: 16px;">
      		<form name="etablissementNoteForm">
        		<md-input-container class="md-block">
		          <label>Notes administratives</label>
		          <textarea ng-model="etablissement.notes.admin"
		          				  ng-model-options="{ updateOn: 'blur' }"
             					  ng-change="etablissementCardCtrl.saveEtablissement(etablissementNoteForm)"
             					  keep-line-breaks></textarea>
		        </md-input-container>
		        <md-input-container class="md-block">
		          <label>Notes publiques</label>
		          <textarea ng-model="etablissement.notes.public"
		          					ng-model-options="{ updateOn: 'blur' }"
             					  ng-change="etablissementCardCtrl.saveEtablissement(etablissementNoteForm)"
             					  keep-line-breaks></textarea>
		        </md-input-container>
		      </form>
	  		</div>
      </md-tab>
    </md-tabs>
  </div>
</md-card>
