<md-dialog aria-label="Nouvel établissement" style="width:800px;">
  <form novalidate name="etablissementForm" class="input-no-bottom-margin"
        ng-submit="nouvelEtablissementCtrl.create(etablissementForm, etablissement)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nouvel établissement</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="nouvelEtablissementCtrl.dialog.cancel()">
          <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex >
      <div layout="column" flex class="md-dialog-content">

        <place-autocomplete class="no-margin no-padding"
                            ng-model="place"
                            md-floating-label="Recherche"></place-autocomplete>

        <md-tabs layout="column" flex md-dynamic-height md-border-bottom>
          <md-tab layout="column" flex label="Informations">
            <ng-include src="'modules/etablissements/views/etablissement.form.html'" ng-controller="EtablissementFromCtrl as etablissementFormCtrl"></ng-include>
          </md-tab>
          <md-tab label="carte">
            <etablissement-map height="400px" width="100%" etablissement="etablissement"></etablissement-map>
          </md-tab>
        </md-tabs>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="nouvelEtablissementCtrl.dialog.cancel()">
        Annuler
      </md-button>
      <md-button type="submit" style="margin-right:20px;">
        Créer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>