<md-sidenav flex layout="column"
    class="md-sidenav-left"
    md-component-id="sidenav"
    md-is-locked-open="$mdMedia('gt-md')"
    md-disable-backdrop
    md-whiteframe="4">
  <md-toolbar style="min-height: 160px;">
    <div layout="row" layout-align="start center">
      <md-menu>
        <md-button aria-label="Options" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon class="md-accent" md-svg-icon="navigation:more_vert"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="sideNavCtrl.showNotifications()">
              <div layout="row">
                <p flex>Notifications</p>
                <md-icon md-menu-align-target md-svg-icon="social:notifications"></md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sideNavCtrl.showProfil()">
              <div layout="row">
                <p flex>Profil</p>
                <md-icon md-menu-align-target md-svg-icon="action:account_circle"></md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sideNavCtrl.logout()">
              <div layout="row">
                <p flex>Déconnexion</p>
                <md-icon md-menu-align-target md-svg-icon="action:exit_to_app"></md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <h3 flex class="md-subhead">Gestigris - Administration</h3>
    </div>
    <div layout="row" layout-align="start center" class="md-padding">
      <avatar user="currentUser"></avatar>
      <div flex class="md-padding">{{ currentUser.toString() }}</div>
    </div>
  </md-toolbar>
  <md-content layout="column" md-scroll-y flex>

    <md-list>
      <md-list-item ui-sref-active="active" ui-sref="benevoles" ng-click="sidenavCtrl.closeSidenav()">
        <p>Bénévoles</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ui-sref-active="active" ui-sref="interventions" ng-click="sidenavCtrl.closeSidenav()">
        <p>Interventions</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
