<div layout="column" flex class="layout-bg">

  <div flex layout="row">
  <md-subheader class="filter-bar" flex="30">
    <md-input-container md-no-float class="md-block md-icon-right">
      <md-icon md-svg-icon="action:search"></md-icon>
      <input ng-model="search" placeholder="recherche..." ng-change="benevolesSectionCtrl.doSearch(search)" ng-model-options="{ debounce: 1000 }">
      <md-icon md-svg-icon="content:clear" ng-show="search" ng-click="search = undefined;benevolesSectionCtrl.clearSearch()"></md-icon>
    </md-input-container>
  </md-subheader>
    <div flex="70" layout="row" layout-align="center center">
      <md-tabs layout-fill flex class="md-primary" class="benevole-fiche-tabs md-accent">
        <md-tab>
          <md-tab-label>Cette semaine</md-tab-label>
        </md-tab>
        <md-tab>
          <md-tab-label>Ce mois-ci</md-tab-label>
        </md-tab>
        <md-tab>
          <md-tab-label>Les autres</md-tab-label>
        </md-tab>
      </md-tabs>
    </div>
  </div>

	<md-content layout="row" flex layout-margin class="plage-intervention-list">

		<plage-intervention layout-margin style="width: 400px;min-width: 400px" layout="column" ng-repeat="plage in interventionsSectionCtrl.plages"></plage-intervention>

	</md-content>
</div>