	<md-card>
	<form name="interventionForm">
	  <md-card-title>

	    <div class="md-headline" layout="row" layout-align="start center">

	    	<div class="value" ng-mouseover="showStart = true" ng-hide="showStart">
	    		{{ intervention.getDateRange().start.format('H:mm') }}
	    	</div>
	    	<md-input-container ng-show="showStart"
	    											layout="row" layout-align="start center"
														ng-mouseleave="interventionCardCtrl.setStartDate()">
		    	<input type="time" step="60" aria-label="start"
								 ng-model="interventionCardCtrl.start">
	    	</md-input-container>

	    	&nbsp-&nbsp

	    	<div class="value" ng-mouseover="showEnd = true" ng-hide="showEnd">
	    		{{ intervention.getDateRange().end.format('H:mm') }}
	    	</div>
	    	<md-input-container ng-show="showEnd" ng-mouseleave="interventionCardCtrl.setEndDate()"
	    											layout="row" layout-align="start center">
	    		<input type="time" step="60" aria-label="end" name="end"
	    				 	 ng-model="interventionCardCtrl.end">
	    	</md-input-container>

	    </div>

	    <span flex></span>

	    <md-icon class="status-icon" md-svg-icon="action:done"></md-icon>

			<md-button class="md-icon-button" ng-click="binterventionCardCtrl.removeIntervention($event, $index, intervention)" ng-disabled="true">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>

			<!--<md-menu md-position-mode="target-right target">
        <md-button aria-label="Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="navigation:more_vert"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="interventionCardCtrl.removeIntervention($event, $index, intervention)">
                <div layout="row" flex>
                  <p flex>Supression</p>
                  <md-icon md-menu-align-target md-svg-icon="action:delete" style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>-->

	  </md-card-title>

		<md-chips ng-model="interventionCardCtrl.tags"
							md-autocomplete-snap
							md-separator-key="interventionCardCtrl.chipSeparatorKeys"
	      			md-transform-chip="interventionCardCtrl.transformChip($chip)"
							md-on-remove="interventionCardCtrl.removeChip($chip)">
			<md-autocomplete md-selected-item="selectedItem"
				          		 md-search-text="searchText"
				          		 md-items="tag in interventionCardCtrl.searchTags(searchText)"
				          		 md-item-text="tag.name"
				          		 placeholder="Ajout mot clef">
				<span md-highlight-text="searchText">{{ tag.toString() }}</span>
			</md-autocomplete>
	    <md-chip-template>
	      <span>
	        <strong>{{ $chip.toString() }}</strong>
	      </span>
	    </md-chip-template>
	  </md-chips>

	  <md-card-content layout="column" layout-gt-xs="row">
			<div layout="column" flex-gt-xs="50">

				<div class="hidden-input-group" layout="row">
					<div>
						<div>local:</div>
						<div>responsable:</div>
						<div>lieu de rencontre:</div>
					</div>
					<div>
						<hidden-input ng-model="intervention.local"></hidden-input>
						<hidden-input ng-model="intervention.responsableGroupe"></hidden-input>
	    			<hidden-input ng-model="intervention.lieuRencontre"></hidden-input>
					</div>
				</div>

				<md-card>
				 	<md-toolbar>
	      		<div class="md-toolbar-tools">
	        		<h2 class="md-subhead"><div>Bénévoles participants</div></h2>
	        		<span flex></span>
	        		<div class="toolbar-fab-buttons">
		        		<md-button class="md-fab md-mini" aria-label="Suppression bénévole"
		        							 ng-show="showGarbage" id="garbage"
													 ng-mouseover="interventionCardCtrl.removeParticipant()">
		          		<md-icon md-svg-icon="action:delete" dnd-list="[]" dnd-drop="interventionCardCtrl.droppedInGarbage(item)"></md-icon>
		        		</md-button>
		        		<md-button class="md-fab md-mini" aria-label="Ajout bénévole"
					    						 ng-click="interventionCardCtrl.addParticipant($event)">
		          		<md-icon md-svg-icon="content:add"></md-icon>
		        		</md-button>
		        	</div>
	      		</div>
	    		</md-toolbar>
					<div class="benevole-list" layout="row" layout-wrap layout-margin
							 dnd-list="interventionCardCtrl.participants"
							 dnd-allowed-types="[intervention._id]"
							 dnd-drop="interventionCardCtrl.droppedInParticipants(item)">
						<participant-avatar ng-repeat="benevole in interventionCardCtrl.participants"
																benevole="benevole" intervention="intervention"
																click-for-details-avatar show-status
																dnd-dragstart="interventionCardCtrl.toogleGarbage(true)"
																dnd-dragend="interventionCardCtrl.toogleGarbage(false)"
												  			dnd-draggable="benevole"
							          				dnd-type="intervention._id"
							          				dnd-moved="interventionCardCtrl.participants.splice($index, 1)"
							          				dnd-effect-allowed="move">
					  </participant-avatar>
					</div>
				</md-card>
			</div>

			<md-card flex-gt-xs="50">
				<md-toolbar>
	      	<div class="md-toolbar-tools">
	        	<h2 class="md-subhead"><div>Bénévoles intéressés</div></h2>
	     		</div>
	   		</md-toolbar>
				<md-content class="benevole-list" layout="row" layout-wrap layout-margin
										dnd-list="interventionCardCtrl.interested"
										dnd-allowed-types="[intervention._id]"
										dnd-drop="interventionCardCtrl.droppedInInterested(item)">
					<participant-avatar ng-repeat="benevole in interventionCardCtrl.interested"
															benevole="benevole" intervention="intervention"
															click-for-details-avatar
			       	  							dnd-draggable="benevole"
			       	  							dnd-type="intervention._id"
				          						dnd-moved="interventionCardCtrl.interested.splice($index, 1)"
				          						dnd-effect-allowed="move">
			    </participant-avatar>
				</md-content>
			</md-card>

		</md-card-content>
	</form>
</md-card>
