<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ etablissement.name }}</span>
      <span class="md-subhead">{{ plage.date.format('[le] dddd DD MMMM YYYY') }}</span>
      <span class="md-subhead">De {{ intervention.date.start.format('LT') }} à {{ intervention.date.end.format('LT') }}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>
