<md-dialog aria-label="Nouveau message" style="width:800px;">
  <form novalidate name="messageForm" ng-submit="nouveauMessageCtrl.send(messageForm)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nouveau message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="nouveauMessageCtrl.cancel()">
          <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <md-contact-chips ng-model="nouveauMessageCtrl.message.destinataires" name="destinataires"
                          md-contacts="nouveauMessageCtrl.searchDestinataires($query)"
                          md-contact-name="fullname"
                          md-contact-image="avatar"
                          md-contact-email="email"
                          md-require-match="true"
                          md-highlight-flags="i"
                          placeholder="Destinataire(s)">
        </md-contact-chips>
        <div ng-messages="messageForm.destinataires.$error">
          <div ng-message="required">requis.</div>
        </div>

        <md-input-container class="md-block">
          <label>Sujet</label>
          <input name="subject" ng-model="nouveauMessageCtrl.message.subject" required>
          <div ng-messages="messageForm.subject.$error">
            <div ng-message="required">requis.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Message</label>
          <textarea name="body" ng-model="nouveauMessageCtrl.message.body" rows="5" required></textarea>
          <div ng-messages="messageForm.body.$error">
            <div ng-message="required">requis.</div>
          </div>
        </md-input-container>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="nouveauMessageCtrl.cancel()">
        Annuler
      </md-button>
      <md-button type="submit" class="md-primary md-raised" style="margin-right:20px;">
        Envoyer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
