<md-card layout="column" flex>

	<div layout="column" layout-padding class="fiche-header">
		<div layout="row">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="plageFicheCtrl.addIntervention()">
				<md-icon md-svg-icon="content:add"></md-icon>
				<md-tooltip>Ajout intervention</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-show="plageFicheCtrl.interventions.length"
								 ng-click="plageFicheCtrl.saveInterventions(true)">
				<md-icon md-svg-icon="content:save"></md-icon>
				<md-tooltip>Sauvegarde</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.deleteBenevole($event, benevole)" ng-disabled="true">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>
		</div>
		<span flex></span>
		<div layout="row" class="fiche-title-over-custom-tabs">
			<div layout="column" layout-align="center start">
				<span class="md-title">{{ plageFicheCtrl.plage.etablissement.toString() }}</span>
	      <span class="md-subhead">{{ plageFicheCtrl.plage.getCalendarDay() }}</span>
			</div>
		</div>
	</div>

	<div layout="column" flex>

		<md-tabs flex class="md-accent">
      <md-tab label="Interventions" layout-fill>
        <md-tab-body>
					<md-content flex class="layout-bg">
						<intervention-card class="plage-card"
															 ng-repeat="intervention in plageFicheCtrl.interventions">
						</intervention-card>
					</md-content>
        </md-tab-body>
      </md-tab>
    <!--  <md-tab label="Conversation" layout-fill>
				<md-tab-body>
          <div class="layout-bg" layout="column" flex>
        		<md-card class="plage-card" layout="column" flex>
        			<md-card-title layout="column" style="max-height:155px;height:155px;padding-bottom:0px">
        				<div class="md-title">Participants</div>
        				<div layout="row" layout-align="start center" layout-wrap layout-margin>
                  <participant-avatar ng-repeat="benevole in plageFicheCtrl.conversation.getParticipants()"
                                      plage="plageFicheCtrl.plage"
                                      click-for-details-avatar show-status>
                  </participant-avatar>
  					    </div>
        			</md-card-title>
              <span flex></span>
        			<md-card-content layout="column">
        				<conversation conversation="plageFicheCtrl.conversation" layout="column"></conversation>
        			</md-card-content>
        		</md-card>
          </div>
        </md-tab-body>
      </md-tab>
			<md-tab label="Infos" layout-fill>
        <md-tab-body>
        	<md-content flex class="layout-bg">
        		<md-card class="plage-card">
              <md-card-title>
                <div class="md-title">Plage d'intervention</div>
              </md-card-title>
              <md-card-content>
                <div class="hidden-input-group" layout="row">
                  <div>
                    <div>date de création:</div>
                    <div>créé par:</div>
                    <div>personne ressource:</div>
                  </div>
                  <div>
                    <div>{{ plageFicheCtrl.plage.createdAt.format('LL') }}</div>
                    <hidden-input ng-model="plageFicheCtrl.plage.createdBy"
                                  aria-label="créé par">
                    </hidden-input>
                    <hidden-input ng-model="plageFicheCtrl.plage.contact"
                                  aria-label="contact">
                    </hidden-input>
                  </div>
                </div>
              </md-card-content>
            </md-card>
            <etablissement-card class="plage-card"
                                etablissement="plageFicheCtrl.etablissement">
            </etablissement-card>
		  		</md-content>
        </md-tab-body>
      </md-tab>-->
    </md-tabs>
  </div>

</md-card>
