<div layout="column" flex>

	<div layout="row" flex>

		<md-card layout="column" flex="30" flex-gt-lg="20" class="card-list">

			<md-content layout="column" flex>

				<md-list flex layout="column">
					<md-list-item class="md-2-line" ui-sref-active="active"
												ng-repeat="item in plagesInterventionsSectionCtrl.plages"
												ng-click="undefined">
			      <div class="md-list-item-text" ui-sref="interventions.fiche({ plageId: item._id })">
			        <h3>{{ item.etablissement.toString() }}</h3>
			        <p>{{ item.date.format('dddd DD MMMM') }} </p>
			      </div>
						<md-icon md-svg-icon="action:done"></md-icon>
			    <md-divider ng-if="!$last"></md-divider>
			    </md-list-item>
		    </md-list>

			</md-content>

		</md-card>

		<div flex="70" flex-gt-lg="80" layout="column">

			<div layout="row" flex layout-align="center center" ng-hide="plage">
				<md-progress-circular md-diameter="280" md-mode="indeterminate"></md-progress-circular>
			</div>

			<plage-intervention-fiche ng-if="plage" plage="plage"></plage-intervention-fiche>

		</div>

	</div>
</div>
