<div layout="column" flex>
		
	<div layout="column" layout-padding class="fiche-header">
		<div layout="row">
			<span flex></span>
			<!--<md-button class="md-icon-button" ng-click="benevoleFicheCtrl.sendMessage($event, benevole)">
				<md-icon md-svg-icon="communication:message"></md-icon>
				<md-tooltip>Message</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-click="benevoleFicheCtrl.deleteBenevole($event, benevole)">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>-->
		</div>
		<span flex></span>
		<div layout="row" class="fiche-title-over-custom-tabs">
			<div layout="column" layout-align="center start">
				<span class="md-title">{{ plageFicheCtrl.plage.getEtablissement().toString() }}</span>
	      <span class="md-subhead">{{ plageFicheCtrl.plage.getCalendarDay() }}</span>
			</div>
		</div>
	</div>
	<md-content layout="column" flex style="overflow:visible">

		<md-tabs layout-fill layout="column" flex class="custom-tabs md-accent">
      <md-tab layout-fill >
        <md-tab-label>Interventions</md-tab-label>
        <md-tab-body>
        	<md-content flex class="layout-bg"> 
        		<intervention-card ng-repeat="intervention in plageFicheCtrl.interventions"></intervention-card>
        	</md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Conversation</md-tab-label>
        <md-tab-body>
        	<md-content flex class="layout-bg">
        		<md-card>
        			<md-card-title layout="column">
        				<div class="md-title">Participants</div>
        				<div layout="row" layout-align="start center" layout-wrap>
        					<avatar ng-repeat="benevole in plageFicheCtrl.conversation.getParticipants()"
						    					user="benevole">
						    	</avatar>
						    </div>
        			</md-card-title>
        			<md-card-content>
        				<conversation conversation="plageFicheCtrl.conversation"></conversation>
        			</md-card-content>
        		</md-card>
		  		</md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Infos</md-tab-label>
        <md-tab-body>
        	<md-content flex class="layout-bg">
        		<md-card>
              <md-card-title layout="column">
                <div class="md-title">Plage d'intervention</div>
              </md-card-title>
              <md-card-content>
                DATE CRÉATION<br>
                CRÉÉ PAR<br>
                PERSONNE RESSOURCE<br>
              </md-card-content>
            </md-card>
            <md-card>
              <md-card-title layout="column">
                <div class="md-title">Établissement</div>
              </md-card-title>
              <md-card-content>
                ADRESSE<br>
                STATIONNEMENT<br>
                NOTES<br>
              </md-card-content>
            </md-card>
		  		</md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    </md-content>
	</div>