<md-card layout="column" flex>

	<div layout="column" layout-padding class="card-header">
		<div layout="row">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="benevoleCardCtrl.deleteBenevole($event, benevole)" ng-disabled="true">
				<md-icon md-svg-icon="action:delete"></md-icon>
				<md-tooltip>Supprimer</md-tooltip>
			</md-button>
		</div>
		<span flex></span>
		<div layout="row" class="fiche-title-over-custom-tabs">
			<div layout="column" layout-align="center start">
				<span class="md-title">{{ plageFicheCtrl.plage.etablissement.toString() }}</span>
				<div class="md-subhead" layout="row" layout-align="start center">
					<md-icon ng-if="plageFicheCtrl.plage.isUrgent()"
									 class="md-warn"
									 md-svg-icon="alert:warning">
						<md-tooltip>urgence</md-tooltip>
					</md-icon>
					<div layout="row" layout-align="start center" style="margin-top:10px">
					<span>{{ plageFicheCtrl.plage.date.fromNow() }}</span>
					<div ng-if="plageFicheCtrl.plage.contactNotified" layout="row" layout-align="start center">&nbsp
						<md-icon class="md-primary" md-svg-icon="action:check_circle"></md-icon>&nbsp
						<span style="color: rgba(0,0,0,0.54)">Contact nofifié</span>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout="column" flex>

		<md-tabs flex class="md-accent">
      <md-tab label="Interventions" layout-fill>
        <md-tab-body>

					<div layout="row" layout-align="end center">
	        	<md-tab-action tooltip="Ajouter une intervention"
	        							   icon="content:add"
	        								 ng-click="plageFicheCtrl.addIntervention()">
	        	</md-tab-action>
		      </div>

					<md-content flex class="layout-bg">
						<intervention-card class="plage-card"
															 ng-repeat="intervention in plageFicheCtrl.interventions">
						</intervention-card>
					</md-content>
        </md-tab-body>
      </md-tab>
      <md-tab label="Conversation" layout-fill ng-if="plageFicheCtrl.conversation.hasParticipants()">
				<md-tab-body>
          <div class="layout-bg" layout="column" flex>
						<conversation-card conversation="plageFicheCtrl.conversation"></conversation-card>
          </div>
        </md-tab-body>
      </md-tab>
			<md-tab label="Infos" layout-fill>
        <md-tab-body>
        	<md-content flex class="layout-bg">
        		<md-card class="plage-card">
              <md-card-title>
                <div class="md-title">Plage d'intervention</div>
              </md-card-title>
              <md-card-content>
                <div class="hidden-input-group" layout="row">
                  <div>
                    <div>date de création:</div>
                    <div>créé par:</div>
                    <div>personne contact:</div>
                  </div>
                  <div>
                    <div>{{ plageFicheCtrl.plage.createdAt.format('LL') }}</div>
										<div>{{ plageFicheCtrl.plage.createdBy }}</div>
										<div>{{ plageFicheCtrl.plage.contact.toString() }}</div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
		  		</md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>

</md-card>
