<plage-intervention-section layout="row" flex>

	<div layout="column" flex="30" flex-gt-lg="20">

		<section-filters-card section-name="interventions" on-change="interventionsSectionCtrl.updateFilters(query)"></section-filters-card>

		<md-card flex>

			<md-content flex>

				<md-list section-list flex layout="column">

				<!--	<md-subheader class="search-subheader">
						<md-input-container md-no-float class="md-icon-float md-block no-errors-spacer" style="margin:0">
							<md-icon md-svg-icon="action:search"></md-icon>
							<input placeholder="recherche..." input-clear
									 	 ng-model="query.searchTerm"
									   ng-change="interventionsSectionCtrl.updateFilters(query)">
					  </md-input-container>
					</md-subheader>-->

					<md-list-item class="md-2-line"  ng-class="{ active:item._id === plage._id }"
												ng-repeat="item in interventionsSectionCtrl.plages"
												ng-click="interventionsSectionCtrl.showPlage(item)">
			      <div class="md-list-item-text">
			        <h3>{{ item.etablissement.toString() }}</h3>
			        <p>{{ item.date.format('dddd DD MMMM YYYY') }} </p>
			      </div>
						<md-icon ng-if="item.isUrgent()"
									   class="md-warn"
										 md-svg-icon="alert:warning">
						  <md-tooltip>urgence</md-tooltip>
						</md-icon>
						<md-icon ng-if="item.contactNotified"
									   class="md-primary"
										 md-svg-icon="action:check_circle">
						  <md-tooltip>contact notifié</md-tooltip>
						</md-icon>
						<md-icon ng-class="{ 'md-primary': item.isBooked() }"
										 md-svg-icon="{{ item.isBooked() ? 'action:lock' : 'action:lock_open' }}">
					   <md-tooltip>{{ item.isBooked() ? 'fermée' : 'ouverte' }}</md-tooltip>
						</md-icon>
			    	<md-divider ng-if="!$last"></md-divider>
			    </md-list-item>
		    </md-list>

			</md-content>

		</md-card>

	</div>

	<div flex="70" flex-gt-lg="80" layout="column">

		<div layout="row" flex layout-align="center center" ng-hide="lodadingDone">
			<md-progress-circular md-diameter="160" md-mode="indeterminate"></md-progress-circular>
		</div>

		<plage-intervention-fiche ng-if="lodadingDone && plage" flex layout="column" plage="plage"></plage-intervention-fiche>

	</div>

</plage-intervention-section>
